html,body{
	position: absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;

	width:100%;
	height: 100%;

	font-family: Helvetica, sans-serif;
	overflow:hidden;
	font-weight: 100;
}

*{
    box-sizing: border-box;
}

.error{
    width: 100%;
    border:1px solid red;
    background-color:rgba(255,0,0,0.4);
    padding:20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: none;
}

header{
	width:100%;
	font-size:30px;
	background-color:#73C2FF;
	color:white;
}

#title{
	padding:20px;
	padding-bottom: 15px;
}

#pageStack{
	width: 100%;
	padding-top:10px;
	font-size:14px;
	background-color:#E7E7EB;
	padding-left:20px;
	padding-bottom: 10px;
	color:#585859;
}

#messageBox{
    position: absolute;
    left: 300px;
    top: 0px;
    width: 500px;
    height: 100px;
    font-size: 16px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    background: #D15854;

    margin-top: -100px;
    visibility: 0;
}

#debugMenu{
	position: absolute;
	bottom: 0;
	left: 0;
	padding:20px;
	background-color:rgba(0,0,0,0.5);
	margin:20px;
}

#debugMenu h2{
	color:yellow;
	padding:0;
	margin:0;
	margin-bottom:10px;
}

.page{
	position: absolute;
	top:110px;
	left: 0;
	width: 100%;
	height: 100%;
	padding:20px;
	transition: all 0.3s;
}

.page.moveLeft{
	left:-100%;
}

.page.moveRight{
	left:100%;
}

.textbox{
	display: block;
	margin-bottom: 10px;
	background-color:rgba(0,0,0,0.1);
	outline: none;
	border:none;
	padding:10px;
	font-size:18px;
}

.col{
	display: table-cell;
	padding:20px;
	padding-bottom:10px;
	padding-top:10px;
	border:1px solid white;
	background-color:rgba(0,0,0,0.1);;
}

#purchaseOrderHolder{
    background-color:white;
    border:1px solid black;
    padding:20px;
    margin-bottom: 10px;
}

.clear{
    clear:both;
}

.customerInfo{
    float:left;
}

.purchaseInfo{
    float:right;
}

.customerInfo td, .purchaseInfo td{
    padding:5px;
}

.cartHolder{
    padding:20px;
}

.cartHolder table.items{
    width:100%;
    margin: 0;
    padding:0;
    border-collapse: collapse;
}

.cartHolder table.items td{
    margin:0;
}

.cartHolder table.items td{
    border-left:1px solid black;
    border-right:1px solid black;
}

.cartHolder table.items tr:first-child td{
    border:1px solid black;
}

.cartHolder table.items tr:last-child td{
    border-bottom:1px solid black;
}


.cartHolder table.items td{
    padding:10px;
    text-align: center;
}

.cartHolder .totals{
    border-collapse: collapse;
}

.cartHolder .totals td{
    padding:10px;
    border:1px solid black;
}

.cartHolder .totals{
    float:right;
    margin-top:10px;
}

.cartHolder .extra{
    border-collapse: collapse;
    margin-left:25%;   
}

.cartHolder .extra td{
    padding:10px;
    text-align: right;
}